@{
  Layout = "_Layout";
}

<h1>Welcome to the Sweet and Savory Tracker!</h1>
<h3>The destination to for Treats and Floavors galore!</h3>
<p>@Html.ActionLink("See all items", "Index", "Items")</p> <p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>